<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Login</title>
    <style>
        body {
            background-color: #21252b;
        }

        div{
            color: rgb(0, 128, 255);
        }
    </style>
</head>

<body>

        <%- include('common/header') %>
        
        <div>
            <h2>Login page</h2>
        </div>
        
        <%- include('common/footer') %>
</body>

</html>